<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fjnu.springboot.mapper.InfoMapper">


    <select id="SelectAll" resultType="org.fjnu.springboot.bean.Information">
        select * from information
    </select>

    <select id="SelectByCount" resultType="Integer">
        select count(*) from Information
    </select>

    <select id="SelectById" parameterType="String" resultType="org.fjnu.springboot.bean.Information">
        select * from information where cno = #{cno}
    </select>

    <insert id="InsertByInformation" parameterType="org.fjnu.springboot.bean.Information">
        insert into information  values(#{cno},#{rno},#{begintime},#{deposit})
    </insert>

</mapper>